* {
    margin: 0;
    padding: 0;
    font-family: Roboto, arial;
    box-sizing: border-box;
}

body {
    background-image: url(img/bg2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;

}

#wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

header img {
    width: 100%;
    display: block;

}

nav {
    background-color: black;

}

a.menu {
    display: inline-block;
    width: 25%;
    padding: 15px 30px 15px 30px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    -webkit-transition: all 1s ease;
    transition: all 0.5s ease;

}

a.menu:hover {
    background-color: #c20400;
}

.active {
    background-color: #c20400;
}

article {
    margin-top: 30px;
    margin-bottom: 20px;

}

article h1 {
    font-size: 30px;
    text-align: center;
    margin: 0 10% 20px;
    padding-bottom: 15px;
    border-bottom: 2px solid #c20400;

}

img.left {
    float: left;
    padding: 10px;
    width: 25%;
    border-radius: 10%;
}

article p {
    text-align: justify;
    line-height: 25px;
    font-size: 18px;
    padding: 0 5px;


}

iframe {
    width: 100%;
}

footer {
    height: 40px;
    font-size: 25px;
    background-color: ;
    color: #ffffff;
    line-height: 40px;
    text-align: center;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


h2 {

    text-align: center;
    text-size-adjust: 4px;

}

/* This inserts something after the content of selected elements (in this case the elements with class "Row") */
.Row:after {
    content: "";
    /* By leaving this blank, we are allowing the footer (covered lower down) to be displayed - removing it makes the footer overwrite a column */
    display: table;
    /* The display property specifies the type of display behavior; the table value tells the browser to treat the element as a table */
    clear: both;
    /* This clears any other elements from floating on the left or the right of an element */
}

/***** CONTACT FORM STYLING *****/
/* input[type=text] targets all text input sections of the contact form */
input[type=text] {
    width: 100%;
    /* Each input box covers the full width of the container */
    padding: 12px;
    /* Adds padding within the text box */
    border: 1px solid #ccc;
    /* Setting a solid border and its color */
    border-radius: 4px;
    /* Slightly rounds the corners of the text box border */
    box-sizing: border-box;
    /* This creates a box with a border around the contact form input boxes */
    margin-top: 6px;
    /* Adds a margin to the top of the text box */
    margin-bottom: 16px;
    /* Adds a margin to the bottom of the text box */
    resize: vertical;
    /* This allows the user to resize the text boxes vertically */
    font-family: Perpetua, Rockwell Extra Bold;
}

/* Screens 576px and smaller will display a scroll bar if the text overflows the column height */
@media screen and (max-width: 576px) {
    .Column_1 {
        overflow: auto;
    }
}

.Column_2 {
    display: block;
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 400px;
    background-color: #4d4d4d;
}

/* This class is applied to the columns in the final row, overriding the height and padding to provide more room for the contact form  while keeping the rest of the formatting from Column_1 or Column_2 */
.Column_tall {
    padding-top: 3.5%;
    height: 450px;
}

.icon-facebook {
    text-align: right;



}